/* Reset some basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(39, 43, 44, 0.87);
    padding: 10px;
    position: sticky;
    top: 0px;
    min-height: 50px;
}

.brand-title {
    display: flex;
    flex: 1;
    color: rgb(246, 222, 191);
    align-items: center;
    gap: 15px;
    margin-left: 50px;
}

.brand-logo {
  font-size: 35px;
}

.brand-name {
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar-links ul {
    list-style: none;
    display: flex;
}

.navbar-links li {
    padding: 0 20px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.toggle-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        text-align: center;
        padding: 15px 0;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar .brand-title {
        display: none;
    }
}

/* top caption starts here */
.top-caption {
    background-image: url("../images/luca-bravo-9l_326FISzk-unsplash.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
  }
  
  
  .head-caption {
    border-left: 2px solid white;
    border-radius: 5px;
    padding-left: 15px;
    margin-left: 80px;
    min-width: 250px;
    background-color: rgba(39, 43, 44, 0.87);;
    padding: 25px;
  }
  
  .head-caption h1 {
    color: rgb(246, 222, 191);; 
    font-size: 85px; 
    line-height: 65px;
  }
  
  .head-caption p {
    margin-top: 25px;
    margin-bottom: 25px;
    color: white; 
    font-size: 18px; 
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .head-button button {
    margin-top: 20px;
    padding: 20px;
    min-width: 250px;
    border: none;
    font-size: 17px;
    cursor: pointer;
  }

  @media (max-width: 768px){
    .head-caption {
        margin: 0px 25px 0px 25px;
    }

    .head-caption h1 {
        font-size: 45px;
    }
  }

  .head-button button:hover {
    background-color: black;
    color: white;
  }
  /* top caption ends here */

  /* service section starts here */

  .service-heading {
    margin: 25px 0px 25px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
  }

  .services-container {
    display: flex;
    flex: 1;
    padding: 0px 100px;
    gap: 25px;
  }

  .services-divs {
    padding: 45px;
    border: 1px solid black;
    margin-bottom: 35px;
    border-radius: 10PX;

  }

  .services-divs p {
    line-height: 28px;
  }

  .services-divs button {
    padding: 10px 18px;
  }

  @media (max-width: 768px) {
    .services-container {
        flex-direction: column;
    }

    .services-container {
        padding: 0px 25px;
    }

  }
  /* service section starts here */

  /* customer testimonial starts here */
  .customer-testimonial {
    background-color: #333;
    padding-top: 25px;
  }

  .customer-testimonial h2 {
    text-align: center;
    text-decoration: underline;
    color: rgb(246, 222, 191);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .customer-testimonial-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    padding: 35px;
  }
  
  .testimonial-container{
    /* max-width: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #testimonial-image {
    height: 260px;
    width: auto;
    border-radius: 50px;
  }

  #testimonial {
    margin: 25px 0px;
    color: white;
    text-align: center;
  }

#testimonial-author {
    color: rgb(246, 222, 191);;
}

@media (max-width: 768px) {
  .customer-testimonial-flex {
    flex-direction: column;
  }
}
  
  /* customer testimonial end here */

  /* video section starts here */
  .video-section {
    height: 400px;
  }
  /* video section ends here */


  /* footer section starts here */
  .footer {
    background-color: #222222;
    color: white;
    padding-top: 35px;
  }

  .footer-divs {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    margin-bottom: 50px;
  }

  .div-foot h3 {
    text-transform: uppercase;
    color: rgb(246, 222, 191);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin-bottom: 18px;
  }

  .div-foot ul li {
    list-style: none;
    margin-bottom: 20px;
  }

  .div-foot ul li a {
    color: #fff;
    text-decoration: none;
  }

  .footer-footer {
    background-color: #111111;
    padding: 20px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-footer div p {
    font-size: 18px;
    color: rgb(246, 222, 191);
  }

  .footer-icons {
    font-size: 25px;
  }

  .footer-icons a {
    color: #ffffff;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .footer-divs {
      flex-direction: column;
      padding-left: 25PX;
    }

    .footer-footer {
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }

  }

  /* footer section ends here */